<div class="pageTitle">
  <h1>New <%= @tasks.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @tasks.object %>"/>
    <ul>
      
          <li>
            <label for="tasks[name]" class="fieldLabel">Name</label>
            <input type="text" name="tasks[name]" <%=
            placeholder("Name") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>