<%title = get_title() %>
<%theme = (title=="Today" ? "e" : "b")%>
<div data-role="page" data-theme=<%=theme%>>
  
  <div data-role="header" data-position="inline">
    <%user = get_user() %>
    <a data-role="button" data-icon="plus" href="<%= url_for :action => :new %>">New Task</a>
    <h1><%=title%> Tasks</h1>
    <% if title == "Today"%>
      <a data-role="button" data-theme = "b" href="<%= url_for :controller => :Tasks, :action => :icebox %>">Icebox</a>
    <% else %>
      <a data-role="button" data-theme = "e" href="<%= url_for :controller => :Tasks, :action => :today %>">Today</a>
    <% end %>
  </div>
  <%tasks = get_tasks() %>
  <div data-role ="content">
      <div data-role="collapsible-set">
      	<% tasks.each do |task|%>
      	  <div data-role="collapsible" data-collapsed="true">
      	    <h3><%=task["task"]["name"]%></h3>
      	    <p>
        	    <form method="POST" action="<%= url_for :action => :completed %>">
        	      <input id="comp_task_id" name="comp_task_id" type="hidden" value=<%=task["task"]["id"]%> />
                <input type="submit" data-icon="delete" data-role="button" value="Done" />
              </form>
        	    <% if title == "Today"%>
          	      <form method="POST" action="<%= url_for :action => :to_icebox %>">
          	        <input id="icebox_task_id" name="icebox_task_id" type="hidden" value=<%=task["task"]["id"]%> />
                    <input type="submit" data-icon="forward" data-role="button" value="To Icebox" />
                  </form>
              <% else %>
                  <form method="POST" action="<%= url_for :action => :to_today %>">
          	        <input id="today_task_id" name="today_task_id" type="hidden" value=<%=task["task"]["id"]%> />
                    <input type="submit" data-icon="forward" data-role="button" value="To Today"/>  
                  </form>
              <% end %>
            </p>
          </div> 
        <% end %>
      </div>
  </div>
</div>