
<div class="pageTitle">
  <h1><%= @title %></h1>
</div>

<div class="toolbar">
  <div class="regularButton">
    <a class="button" href="<%= url_for :action => :new %>">Add New Task</a>
  </div>
</div>
<%tasks = get_tasks() %>
<div class="content">
  <ul id = "list-content">
  	<% tasks.each do |task|%>
  	  <li>
  	    <%=task["task"]["name"]%>
        <input type="button" class="button" value="Done" onclick="complete(<%= task["task"]["id"] %>);"/>
  	    <% if @title == "Today"%>
          <input type="button" class="button" value="To Icebox" onclick="to_icebox(<%= task["task"]["id"] %>);"/>
        <% else %>
          <input type="button" class="button" value="To Today" onclick="to_today(<%= task["task"]["id"] %>);"/>
        <% end %>  
  	  </li>
  	<% end %>
  </ul>
</div>

<script  type="text/javascript">
  function to_icebox(task_id){
    $.ajax({
       url: 'https://agiletask.me/tasks/' + task_id.toString + '.json?task[icebox]=true&api_key=#{@user.api_key}',
       type: 'PUT'
    });
    location.reload();
  }
  function to_today(task_id){
    $.ajax({
       url: 'https://agiletask.me/tasks/' + task_id.toString + '.json?task[icebox]=false&api_key=#{@user.api_key}',
       type: 'PUT'
    });
    location.reload();
  }
  function complete(task_id){
    $.ajax({
       url: 'https://agiletask.me/tasks/' + task_id.toString + '.json?task[complete]=true&api_key=#{@user.api_key}',
       type: 'PUT'
    });
    location.reload();
  }
</script>