<div class="pageTitle">
  <h1>AgileTask</h1>
</div>
<% @user = ""%>
<% User.find(:all).each do |user| %>
    <% @user = user  %>
<% end %>
<div class="toolbar">
  <% if !@user.empty? %>
      <div class="content">
        <ul>
          <li>
            <%= @user.login  %>
          </li>
        </ul>
        <ul>
          <li>
            <a href="<%= url_for :controller => :Tasks, :action => :today %>">Today's Tasks</a>
            <a href="<%= url_for :controller => :Tasks, :action => :icebox %>">Icebox Tasks</a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="button" href="<%= url_for :controller => :Tasks,:action => :new %>">Add New Task</a>
          </li>
        </ul>
      </div>
  <% else %>
      <div class="content">
        <ul>
          <li>
            <a href="<%= url_for :controller => :Settings, :action => :login %>">Login To AgileTask</a>
          </li>
        </ul>
      </div>
  <% end %>
</div>


